name: Tests
on:
  workflow_call:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    paths:
      - ".github/workflows/test.yml"
      - "src/**"
      - "tests/**"
      - "pyproject.toml"
jobs:
  test-against-python-matrix:
    name: PyTest
    strategy:
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        os: [windows-latest, macos-latest, ubuntu-latest]
      fail-fast: true
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Run tests
        run: |
          uv run -p ${{ matrix.python-version }} pytest

  test-entry-point:
    runs-on: ubuntu-latest
    name: Check the configured entry point
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v5
      - name: Set up env
        run: uv sync
      - name: Install package
        run: source .venv/bin/activate && uv pip install .
      - name: Check entry point
        run: source .venv/bin/activate && render-engine init --no-input
